*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    
}

.list{
    margin: 0;
    display: flex;
    justify-content: right;
    background: black;
    color: white;
}

li{
    margin: 0px;
    padding: 20px;
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: bisque;
}

.navcontain{
    width: 100%;
}
